@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/KoHoRegular.ttf");
  font-family: "KoHo";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/PangMenZhengDao.ttf");
  font-family: "PangMenZhengDao";
  font-weight: 400;
}
