@keyframes rotate-shake {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
}
.img-father:hover .img-hover-animate{
    animation: rotate-shake 0.5s ease-in-out;
}

.breathing-circle {
    width: 350px;
    height: 350px;
    background: url("/public/images/breathing-circle.png") center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    animation: breathe 2s infinite;
}

.breathing-circle::after {
    content: "";
    position: absolute;
    top: 5%; left: 5%;
    right: 5%; bottom: 5%;
    background: inherit;
    filter: blur(8px); /* 增加模糊效果 */
    z-index: -1;
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.7;
    }
}

/* 屏幕宽度至少为1440px */
@media (min-width: 1440px) {
    .banner {
        gap: 54px;
    }
}

/* 屏幕宽度至少为1960px */
@media (min-width: 1920px) {
    .banner {
        gap: 54px;
    }
}

/* 屏幕宽度至少为2560px */
@media (min-width: 2500px) {
    .banner {
        gap: 237px;
    }
}
