.slick-prev{
    left: 50px;
    z-index: 10;
}
.slick-next{
    right: 50px;
    z-index: 10;

}
.slick-prev, .slick-next {
    transform: translate(0, -80%);
}
.slick-prev:before, .slick-next:before{
    font-size: 34px;
}

.custom-container {
     width: 1100px; /* 默认宽度 */
     display: block; /* 默认显示状态，你可以根据需要调整 */
 }

/* 屏幕宽度至少为1440px */
@media (min-width: 1440px) {
    .custom-container {
        width: 1100px;
    }
}

/* 屏幕宽度至少为1960px */
@media (min-width: 1920px) {
    .custom-container {
        width: 1350px;
    }
}

/* 屏幕宽度至少为2560px */
@media (min-width: 2560px) {
    .custom-container {
        width: 1800px;
    }
}
